body {
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-small {
  display: inline-flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  width: 100%;
}

.container-small.left {
  /* justify-content: center; */
  display: block;
  text-align: center;
  width: 60px;
  /* height: 60px; */
}
/* --------Dropdown test---------- */

/* -------------------- */
.container-small.right {
  /* margin: 10px 10px 10px 10px; */
  /* justify-content: center; */
  /* align-items: start; */
  display: block;
  height: 100%;
  width: 100%;
}

.only-map-container {
  position: relative;
  display: flex;
  /* right: 0px; */
  min-width: 900px;
  height: 100vh;
  /* justify-content: space-between; */
}
/* .container-small.left h3 {
  position: relative;

  width: 100%;
  height: 50px;
}
*/
.route-part-icons {
  display: flex;
  justify-content: space-evenly;
}
.route-part-icons:hover {
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(33, 33, 83); */
}
.route-part-icons.icont-button {
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.route-part-icons.icont-button:hover {
  background-color: rgb(53, 91, 161);
}

.container-small.left.icons {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  font-size: 3ch;
  /* padding: 10px 0; */
  /* margin: 10px 10px 5px 0px; */
  width: 60px;
  height: 40px;
}
.container-small.left.icons :hover {
  font-size: 2.5ch;
}
.box input {
  /* align-items: center; */
  opacity: 1;
  color: black;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 5px;
  min-width: 100%;
}
.box {
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: left;
  /* padding: 15px 0; */
  /* margin: 10px 10px 10px 0px; */
  min-width: 100%;
  height: 40px;
  position: relative;
  opacity: 1;
}
.result-box {
  display: block;
  color: white;
  align-items: center;
  padding-left: 15px;
  justify-content: left;
  /* padding: 15px 0; */
  /* margin: 10px 10px 10px 0px; */
  width: 100%;
  height: 180px;
  position: relative;
  opacity: 1;
}

.pointInfoOpened {
  border: 1px dashed rgb(6, 6, 32);
  background-color: rgba(36, 69, 129, 0.8);
  border-radius: 5px;
}
.pointInfoOpened:hover {
  /* border: 1px dashed rgb(6, 6, 32); */
  background-color: rgba(24, 41, 73, 0.5);
}
.input-container {
  margin: 1rem auto;
  position: relative;
  text-align: center;
  background-color: rgba(36, 69, 129, 0.3);
  /* word-wrap: break-word; */
  width: 40%;
  min-height: 100vh;
  border: 1px solid rgba(0, 63, 37, 0.3);
  border-radius: 10px 0px 0px 10px;
}
.input-container h5,
p {
  text-align: center;
}
.chooseInput {
  display: flex;
  position: relative;
  text-align: center;
}
.plusButton {
  color: red;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.plusButton :hover {
  color: white;
}

/*-------------*/
.map-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*assaasasassa*/
.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.box-input {
  width: 100%;
  padding: 0.5rem;
}
